body {
    /* background-image: url(''); */
    background-color: azure;
}
.nav-link {
    color:white;
}
.nav-link:hover {
    color:white;
}
#aboutContainer {
    background-color: white;
}
iconify-icon {
    vertical-align: -0.125em;
}
/* Shrinks navbar on normal iPhones */
@media (max-width: 415px) {
    #aboutContainer {
        font-size: 0.80em;
    }
}